/* border {
  width: fit-content;
} */
ul {
  list-style-type: none;
  text-decoration: none;
  overflow: hidden;
  background-color:rgb(100, 100,100);
  margin: 0px;
  height: 100%;
  position: sticky;
  top: 0;
}
li {
  font-size: 25px;
  float: right;
  margin-top: 12px;
}
li a {
  color: white;
  text-decoration: none;
  display: block;
  margin-left:35px;
  margin-bottom: 15px;
  align-items: center;
  top: 50%;
}
p, div {
  text-align: center;
}
.biodata {
  border: 1px solid black;
  padding: 20px;
  text-align: center;
  margin: 10px;
}
.rotate90 {  
  -webkit-transform:rotate(90deg);  
  -moz-transform: rotate(90deg);  
  -ms-transform: rotate(90deg);  
  -o-transform: rotate(90deg);  
  transform: rotate(90deg);  
} 